.contenedor{
    display: grid;
 
 
 }
 
 body{
    background-color: rgb(248, 248, 144)
 }
 
 header{
    text-align: center;
    /*background-color: rgb(236, 56, 56);*/
 
 }
 
 h1{
    font-family: 'Luckiest Guy', cursive;
    font-size: 4em;
    margin-bottom: 1px;
    /* background-color: rgb(236, 56, 56);
   */
 
 }
 
 #logo-pokemon{
    align-items: center;
    margin-top: 1px;;
 }
 
 .flip-container{
    -webkit-perspective: 1000px;
    perspective: 1000px;
    padding: 50px
    position: relative;
    margin: 30px auto;
    width: 500px;
    display: inline-block;
  }
 
  .card {
    position: relative;
    width: 500px;
    height: 50px;
    transition: 0.6s;
    transform-style: preserve-3d;
    /*transform-origin: 100% 25px;*/
    margin: 5px;
  }
  .card:hover{
       transform: rotateY(180deg);
  }
 
  .front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
  }
  .front{
    transform: rotateY(0deg);
    /*z-index: 2;*/
    background-color:rgb(35, 35, 161);
    color: white;
    font: 1em/1.8em;
    font-family: 'Days One';
 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .back{
    font-family: 'Fredoka One';
    transform: rotateY(180deg);
    /* background: repeating-linear-gradient(
      -45deg,
      #dacccc,
      #ececec 10px,
      #dedede 10px,
      #dedede 20px
    ); */
  }