body {
    height: 100%;
    margin: 0;
    position: absolute;
    width: 100%;
    display: table;
    background-image: url("http://media.tumblr.com/tumblr_m7zi6upchE1qcsjxo.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    }



header{
    background-color: red;
    text-align: center;  
    
}



.tituloBiblioteca{
    display: inline;
}


body{
    background-color: rgb(247, 247, 192)
}

h1{
    font-family: 'Luckiest Guy', cursive;
    font-size: 60px;
    margin-top: 0%;
    margin-bottom: 0%;
}

#logo-pokemon{
    width: 20%;
    height: 10%;
}

#select-type:hover{
    background-color: rgb(196, 196, 196)
}

#select-type{
    background-color: rgb(219, 216, 216);
    font-family: 'Luckiest Guy', cursive;
    /* font-size: 40px; */
    margin-top: 50px;
    font-size: 20px;
    border: 1px;
}

#first-section{
    text-align: center;
}

h2{
    font-family: 'Luckiest Guy', cursive;
}

p{
    font-family: 'Days One', sans-serif;
    /* font-family: 'Fredoka One', cursive; */
}

.w3-card-8{
background-color: rgb(8, 166, 219);
width: 30%;
height: 50%;
display: inline-block;
position: center;
padding: 1em 1em 1em 1em;
margin: 1em 1em 1em 1em;
box-shadow: 0 0 20px rgb(2, 2, 2);
}
